h2{
    background: blue;
}
div_{
    background-color: blue;
}
p{
    background-color: blue;
}
ul{
    background: blue;
}


a, button, strong{
    background: red;
}


.d1{
    display: inline;
    border: 2px solid black;
    background: blue;
    width: 50%;
}

.b1{
    background: green;
    display: block;
    width: 280px;
    height: 80px;


}

.example{
    width: 200px;
    height: 200px;
    background: green;
    display: grid;
    place-items: center;
    border: 2px solid black;
    border-radius: 20px;
}